In [5]:
import pandas as pd
df_movies = pd.read_csv('C:\\Users\\Heenashree_Khandelwa\\PycharmProjects\\Analytics_MovieLens\\MovieLens\\ml-latest-small\\movies.csv')
df_ratings = pd.read_csv('C:\\Users\\Heenashree_Khandelwa\\PycharmProjects\\Analytics_MovieLens\\MovieLens\\ml-latest-small\\ratings.csv')

In [6]:
df_movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
20,21,Get Shorty (1995),Comedy|Crime|Thriller
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller
22,23,Assassins (1995),Action|Crime|Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Children|Drama
27,28,Persuasion (1995),Drama|Romance
28,29,"City of Lost Children, The (Cit√© des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama
...,...,...,...
9712,188189,Sorry to Bother You (2018),Comedy|Fantasy|Sci-Fi
9713,188301,Ant-Man and the Wasp (2018),Action|Adventure|Comedy|Fantasy|Sci-Fi
9714,188675,Dogman (2018),Crime|Drama
9715,188751,Mamma Mia: Here We Go Again! (2018),Comedy|Romance
9716,188797,Tag (2018),Comedy
9717,188833,The Man Who Killed Don Quixote (2018),Adventure|Comedy|Fantasy
9718,189043,Boundaries (2018),Comedy|Drama
9719,189111,Spiral (2018),Documentary
9720,189333,Mission: Impossible - Fallout (2018),Action|Adventure|Thriller
9721,189381,SuperFly (2018),Action|Crime|Thriller
9722,189547,Iron Soldier (2010),Action|Sci-Fi
9723,189713,BlacKkKlansman (2018),Comedy|Crime|Drama
9724,190183,The Darkest Minds (2018),Sci-Fi|Thriller
9725,190207,Tilt (2011),Drama|Romance
9726,190209,Jeff Ross Roasts the Border (2017),Comedy
9727,190213,John From (2015),Drama
9728,190215,Liquid Truth (2017),Drama
9729,190219,Bunny (1998),Animation
9730,190221,Hommage √† Zgougou (et salut √† Sabine Mamou) (2...,Documentary
9731,191005,Gintama (2017),Action|Adventure|Comedy|Sci-Fi
9732,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi
9733,193567,anohana: The Flower We Saw That Day - The Movi...,Animation|Drama
9734,193571,Silver Spoon (2014),Comedy|Drama
9735,193573,Love Live! The School Idol Movie (2015),Animation
9736,193579,Jon Stewart Has Left the Building (2015),Documentary
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [7]:
df_ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
5            1       70     3.0   964982400
6            1      101     5.0   964980868
7            1      110     4.0   964982176
8            1      151     5.0   964984041
9            1      157     5.0   964984100
10           1      163     5.0   964983650
11           1      216     5.0   964981208
12           1      223     3.0   964980985
13           1      231     5.0   964981179
14           1      235     4.0   964980908
15           1      260     5.0   964981680
16           1      296     3.0   964982967
17           1      316     3.0   964982310
18           1      333     5.0   964981179
19           1      349     4.0   964982563
20           1      356     4.0   964980962
21           1      362     5.0   964982588
22           1      367     4.0   964981710
23           1      423     3.0   964982363
24           1      441     4.0   964980868
25           1      457     5.0   964981909
26           1      480     4.0   964982346
27           1      500     3.0   964981208
28           1      527     5.0   964984002
29           1      543     4.0   964981179
...        ...      ...     ...         ...
100806     610   150401     3.0  1479543210
100807     610   152077     4.0  1493845817
100808     610   152081     4.0  1493846503
100809     610   152372     3.5  1493848841
100810     610   155064     3.5  1493848456
100811     610   156371     5.0  1479542831
100812     610   156726     4.5  1493848444
100813     610   157296     4.0  1493846563
100814     610   158238     5.0  1479545219
100815     610   158721     3.5  1479542491
100816     610   158872     3.5  1493848024
100817     610   158956     3.0  1493848947
100818     610   159093     3.0  1493847704
100819     610   160080     3.0  1493848031
100820     610   160341     2.5  1479545749
100821     610   160527     4.5  1479544998
100822     610   160571     3.0  1493848537
100823     610   160836     3.0  1493844794
100824     610   161582     4.0  1493847759
100825     610   161634     4.0  1493848362
100826     610   162350     3.5  1493849971
100827     610   163937     3.5  1493848789
100828     610   163981     3.5  1493850155
100829     610   164179     5.0  1493845631
100830     610   166528     4.0  1493879365
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [10]:
df_ratings.head(10)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [11]:
df_movies.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [12]:
df_movies.isnull().any()

movieId    False
title      False
genres     False
dtype: bool

In [14]:
df_movies[['title']]

                                                  title
0                                      Toy Story (1995)
1                                        Jumanji (1995)
2                               Grumpier Old Men (1995)
3                              Waiting to Exhale (1995)
4                    Father of the Bride Part II (1995)
5                                           Heat (1995)
6                                        Sabrina (1995)
7                                   Tom and Huck (1995)
8                                   Sudden Death (1995)
9                                      GoldenEye (1995)
10                       American President, The (1995)
11                   Dracula: Dead and Loving It (1995)
12                                         Balto (1995)
13                                         Nixon (1995)
14                              Cutthroat Island (1995)
15                                        Casino (1995)
16                         Sense and Sensibility (1995)
17                                    Four Rooms (1995)
18                Ace Ventura: When Nature Calls (1995)
19                                   Money Train (1995)
20                                    Get Shorty (1995)
21                                       Copycat (1995)
22                                     Assassins (1995)
23                                        Powder (1995)
24                             Leaving Las Vegas (1995)
25                                       Othello (1995)
26                                  Now and Then (1995)
27                                    Persuasion (1995)
28    City of Lost Children, The (Cit√© des enfants p...
29    Shanghai Triad (Yao a yao yao dao waipo qiao) ...
...                                                 ...
9712                         Sorry to Bother You (2018)
9713                        Ant-Man and the Wasp (2018)
9714                                      Dogman (2018)
9715                Mamma Mia: Here We Go Again! (2018)
9716                                         Tag (2018)
9717              The Man Who Killed Don Quixote (2018)
9718                                  Boundaries (2018)
9719                                      Spiral (2018)
9720               Mission: Impossible - Fallout (2018)
9721                                    SuperFly (2018)
9722                                Iron Soldier (2010)
9723                              BlacKkKlansman (2018)
9724                           The Darkest Minds (2018)
9725                                        Tilt (2011)
9726                 Jeff Ross Roasts the Border (2017)
9727                                   John From (2015)
9728                                Liquid Truth (2017)
9729                                       Bunny (1998)
9730  Hommage √† Zgougou (et salut √† Sabine Mamou) (2...
9731                                     Gintama (2017)
9732                          Gintama: The Movie (2010)
9733  anohana: The Flower We Saw That Day - The Movi...
9734                                Silver Spoon (2014)
9735            Love Live! The School Idol Movie (2015)
9736           Jon Stewart Has Left the Building (2015)
9737          Black Butler: Book of the Atlantic (2017)
9738                       No Game No Life: Zero (2017)
9739                                       Flint (2017)
9740                Bungo Stray Dogs: Dead Apple (2018)
9741                Andrew Dice Clay: Dice Rules (1991)

[9742 rows x 1 columns]

In [20]:
df_ratings[['rating']].describe()

              rating
count  100836.000000
mean        3.501557
std         1.042529
min         0.500000
25%         3.000000
50%         3.500000
75%         4.000000
max         5.000000

In [22]:
df_ratings[df_ratings.rating>4.0]

        userId  movieId  rating   timestamp
3            1       47     5.0   964983815
4            1       50     5.0   964982931
6            1      101     5.0   964980868
8            1      151     5.0   964984041
9            1      157     5.0   964984100
10           1      163     5.0   964983650
11           1      216     5.0   964981208
13           1      231     5.0   964981179
15           1      260     5.0   964981680
18           1      333     5.0   964981179
21           1      362     5.0   964982588
25           1      457     5.0   964981909
28           1      527     5.0   964984002
31           1      553     5.0   964984153
35           1      596     5.0   964982838
36           1      608     5.0   964982931
38           1      661     5.0   964982838
44           1      919     5.0   964982475
45           1      923     5.0   964981529
46           1      940     5.0   964982176
48           1      954     5.0   964983219
50           1     1023     5.0   964982681
51           1     1024     5.0   964982876
52           1     1025     5.0   964982791
53           1     1029     5.0   964982855
55           1     1031     5.0   964982653
56           1     1032     5.0   964982791
58           1     1049     5.0   964982400
60           1     1073     5.0   964981680
61           1     1080     5.0   964981327
...        ...      ...     ...         ...
100703     610   113252     4.5  1493848493
100716     610   114935     4.5  1493845657
100717     610   115122     4.5  1493848212
100718     610   115149     5.0  1493849607
100720     610   115569     4.5  1493845291
100722     610   115727     5.0  1479544153
100723     610   116668     4.5  1493848930
100724     610   116799     4.5  1493849263
100732     610   119145     4.5  1493846044
100736     610   121231     5.0  1493848188
100737     610   122882     5.0  1493845444
100739     610   122886     4.5  1479544589
100743     610   122920     5.0  1493845626
100746     610   127198     4.5  1494273068
100747     610   128360     4.5  1493847496
100753     610   130634     4.5  1493846403
100754     610   130840     4.5  1493848621
100757     610   133771     4.5  1493849762
100779     610   138632     5.0  1479545420
100780     610   139385     4.5  1493846777
100782     610   139644     4.5  1493846253
100796     610   144976     4.5  1493848418
100811     610   156371     5.0  1479542831
100812     610   156726     4.5  1493848444
100814     610   158238     5.0  1479545219
100821     610   160527     4.5  1479544998
100829     610   164179     5.0  1493845631
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352

[21762 rows x 4 columns]

In [ ]:
#change index

In [26]:
df_movies.index

RangeIndex(start=0, stop=9742, step=1)

In [35]:
#df_movies.set_index('movieId') #this has changed the datset now
df_movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [36]:
df_movies.loc[6] # this will give information based on row

movieId                 7
title      Sabrina (1995)
genres     Comedy|Romance
Name: 6, dtype: object

In [37]:
df_movies.iloc[3][1]

'Waiting to Exhale (1995)'